<div class="container-fluid custom">
  <div class="container-steps" *ngIf="!isClan()">
    <div class="conteiner-tittle text-white">
      <h2>ŽELIŠ POSTAT DIO EKIPE? UČLANI SE</h2>
    </div>
    <select class="customSelect" id="tipMjesecne">
      <option disabled selected value="">Odaberite tip mjesečne</option>
      <option value="Student poludnevna">Student poludnevna</option>
      <option value="Student cjelodnevna">Student cjelodnevna</option>
      <option value="Poludnevna">Poludnevna</option>
      <option value="Cjelodnevna">Cjelodnevna</option>
      <option value="VIP">VIP</option>
    </select>
    <button class="custombtn btn btn-warning" (click)="uclaniSe()">Učlani se</button>
  </div>
  <app-clanarina-korisnik></app-clanarina-korisnik>
</div>
