.custom{
  height: 100vh;
  background-image: url("/assets/background-images/wp7578886.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.conteiner-tittle{
  padding-top: 10%;
  text-align: center;
}
.customSelect {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0.5%;
  margin-top: 1.5%;
  border-radius: 10px;
}
.custombtn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1.5%;
  width: 10%;
}

