<app-ptop></app-ptop>
<div class="main">
  <div class="main-box">

    <div class="slike-box">
        <div class="slike-wrapper">
          <div class="slikedesno" (click)="iducaSlika()"><label class="des">⧽</label></div>
          <div class="slikelijevo" (click)="prethodnaSlika()"><label class="lij">⧼</label></div>
          <img src="{{slikeproizvoda[prikazanaSlika].putanja}}" class="slike-proizvoda">
        </div>
    </div>
    <div class="DetaljiProizvoda">
      <div class="detalji">
        <div class="gornji-dio">
       <div class="naziv-wrapper">
        <label class="naziv-proizvoda">{{proizvod.naziv}}</label>
       </div>
      <div class="opis-wrapper">
        <label class="opis-proizvoda">{{proizvod.opis}}</label>
      </div>
      <div class="boja-velicina-wrapper">
        <label class="boja">Boja: {{proizvod.boja}}</label>
        <label class="velicina">Velićina: {{proizvod.velicina}}</label>
        <label class="spol">Brend: {{proizvod.brend!.nazivBrenda}}</label>
      </div>
        </div>
        <div class="donji-dio">
        <div class="kolicina-wrapper">
          <label class="kolicina">Količina:</label>
          <div class="buttoni">
            <div class="quantity-input">
              <button class="btn-umanji" (click)="umanji()">-</button>
              <input class="inp-kolicina" type="number" [(ngModel)]="kolicina" (input)="onInputChange()" />
              <button class="btn-uvecaj" (click)="uvecaj()">+</button>
            </div>
            <div class="dodaj-proizvod">
              <button class="btn-dodaj-proizvod" (click)="dodajuKorpu()">Dodaj u korpu 🛒</button>
            </div>
          </div>
        </div>
          <div class="cijena-box">
            <h4 *ngIf="proizvod.popust > 0" class="redovnacijena">{{proizvod.cijena * kolicina | number:'1.2-2'}} BAM</h4>
            <h4 *ngIf="proizvod.popust > 0" class="popust">-{{proizvod.popust}}%</h4>
            <h4 class="cijenaspopustom">{{ (proizvod.cijena * kolicina - (proizvod.cijena * kolicina * proizvod.popust! / 100)) | number:'1.2-2' }} BAM</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
