body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.body{
  height: 40vh;
  background-size: cover;
  background: linear-gradient(to right, #2B3A53 50%, #F1F2F6 50%);
}
.container {
  display: flex;
  height: 40vh;
}

.left {
  background-color: #2B3A53;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.left .logo {
  margin-bottom: 20px;
}

.left h3 {
  font-size: 24px;
  text-align: center;
}

.right {
  background-color: #F1F2F6;
  color: #2B3A53;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.right h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="number"] {
  padding: 8px;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #2B3A53;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #2B3A53;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1d2a3a;
}

.muscle-icon {
  width: 100px;
  height: 100px;
  /* Adjust the size according to your needs */
}
.logo svg{
  transition: transform 1s;
}
.logo svg:hover{
  transform: rotate(360deg);
}
