<div class="footerBody">
  <div class="title">
    <p>Trebate našu pomoć?</p>
  </div>
  <div class="d-flex justify-content-center custom">
    <div class="p-2 d-flex justify-content-center customDiv">
      <div class="p-2 customPhone"></div>
      <div class="p-2 customPhoneFont">+38762227993</div>
    </div>
    <div class="p-2 d-flex justify-content-center customDiv">
      <div class="p-2 customEmail"></div>
      <div class="p-2 customEmailFont">zalik&#64;gym.com</div>
    </div>
    <div class="p-2 d-flex justify-content-center customDiv">
      <div class="p-2 customLocation"></div>
      <div class="p-2 customLocationFont">Gornji Zalik bb</div>
    </div>
  </div>
</div>
