.ptop-box{
  height: 8%;
  width:100%;
  top: 17%;
  text-align: center;
  display:flex;
  flex-direction: row;
  background-color: rgb(33, 37, 41);
  position:fixed;
  z-index: 2;
}
button{
  transition: 0.5s;
}
p{
  margin: 0;
}
.input-group{
  height: 60%;
  padding-left: 39%;


}
.korpa{
  width: 30%;
  padding-bottom: 1%;

}
button:hover{
  background-color: rgb(238, 192, 2);
  box-shadow: black 0 0 3px;}
button:active{
  background-color: rgb(33, 37, 41);
  color:#ffd200;
}
.korpaimg{
  cursor: pointer;
  width: 15%;
  height: 120%;
}
.searchbar{
  text-align: center;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  border:1.5px solid #ffd200;
}
.searchbtn{
  font-size:16px;
  font-weight: bold;
  width: 15%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #ffd200;
}
