<div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Uredi korisnika ID:{{ID}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="zatvori()"></button>
      </div>
      <div class="modal-body">
        <div class="formular">
          <div class="mb-3">
            <label class="form-label">Korisničko ime</label>
            <input  class="form-control" type="text" disabled [(ngModel)]="KorisnickoIme">
          </div>
          <div class="mb-3">
            <label class="form-label">Admin</label>
            <input  class="form-check-input check" type="checkbox"  disabled [(ngModel)]="IsAdmin">
          </div>
          <div class="mb-3">
            <label class="form-label">Korisnik</label>
            <input  class="form-check-input check" type="checkbox" (click)="IsRadnik = false; IsKorisnik = !IsKorisnik" [(ngModel)]="IsKorisnik">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Radnik</label>
          <input  class="form-check-input check" type="checkbox" (click)="IsKorisnik = false; IsRadnik = !IsRadnik" [(ngModel)]="IsRadnik">
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="zatvori()">Odustani</button>
          <button type="button" class="btn btn-primary" (click)="spasiIzmjene()">Spasi</button>
        </div>
      </div>
    </div>
  </div>
