.employee-main{
  padding-top: 10%;
}
.employee-title{
  text-align: center;
  color:white;
}
.employee-members{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.customTable{
  width: 100%;

  margin-top: 2%;
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgb(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
  color: white;
  text-align: center;
}
thead, tr,th, td{
  border: 1px solid white;
  padding: 1%;
  transition: transform 0.3s ease;
  transform: scale(1);
}

tr:hover{
  transform: scale(1.02);
}
.employee-header{
  display: flex;
  justify-content: center;
}
.employee-number, .employee-type{
  border:1px solid white;
  padding: 1%;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-image: url("/assets/images/360_F_252320011_nFxqN79uW7DogyaoidTFCfpZuvr9pOtS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1%;
  color: white;
}
.employee-number:hover, .employee-type:hover{
  transform: scale(1.05);
}
