.customHeight{
  height: 100vh;
}
.text-container{
  display: flex;
}
.text-container p{
  margin-right: 2%;
}
.customMarginTop{
  margin-top: 2.5%;
}
.col-5{
  position: relative;
}
.p-container{
  position: absolute;
  right: 0;
  top: 30%;
  margin-right: 5%;
}
.customBackground{
  background-image: url('/assets/background-images/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.customSpace{
  padding: 3px;
}
.col-7{
  position: static;
}
.custom{
  margin-top: 2%;
  margin-left: 5%;
}
.customDiv{
  display: flex;
}
.customDiv2{
  position: absolute;
  top: 20%;
}
.customRight{
  margin-left: 10%;
}
