<div class="container-fluid ">
  <div class="row ">
    <div class="col-5 customHeight">
      <div class="p-container">
        <h3>PREDNOSTI RAČUNA</h3>
        <p class="text-size">Zalik.gym nalog vam omogućuje</p>
        <div class="text-container">
          <p>&#10003;</p>
          <p>Brza kupovina</p>
        </div>
        <div class="text-container">
          <p>&#10003;</p>
          <p>Ekskluzivne pogodnosti</p>
        </div>
        <div class="text-container">
          <p>&#10003;</p>
          <p>Pratite svoj status kupovine</p>
        </div>
        <button class="w-10 button btn btn-warning customMarginTop" style="padding: 10px" routerLink="/prijavi-se">IMATE NALOG? PRIJAVITE SE &#x3e;</button>
      </div>
      </div>
    <div class="col-7 customBackground customHeight">
        <div class="custom text-white w-50">
          <form>
            <div class="customDiv2">
              <h3 style="text-align: center">KREIRAJTE SVOJ NALOG</h3>
            <div class="customDiv">
              <div class="customLeft">
                <div class="form-group customSpace">
                  <label for="exampleInputIme">Ime</label>
                  <input type="text" class="form-control" id="exampleInputIme" placeholder="Unesite ime"[(ngModel)]="txtIme" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group customSpace">
                  <label for="exampleInputPrezime">Prezime</label>
                  <input type="text" class="form-control" id="exampleInputPrezime" placeholder="Unesite prezime" [(ngModel)]="txtPrezime" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group customSpace">
                  <label for="exampleInputKorisničkoIme">Korisničko ime</label>
                  <input type="text" class="form-control" id="exampleInputKorisničkoIme" placeholder="Unesite korisničko ime" [(ngModel)]="txtKorisnickoIme" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group customSpace">
                  <label>Opština rođenja</label>
                  <select class="form-select" [(ngModel)]="txtOpstinaRodjenja" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let item of gradovi" [value]="item.id">{{item.naziv}}</option>
                  </select>
                </div>
                <div class="form-group customSpace">
                  <label for="exampleInputDatumRođenja">Datum rođenja</label>
                  <input type="date" class="form-control" id="exampleInputDatumRođenja" placeholder="Unesite datum rođenja" [(ngModel)]="txtDatumRodjenja" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="customRight">
                <div class="form-group customSpace">
                  <label for="exampleInputBrojTelefona">Broj telefona</label>
                  <input type="text" class="form-control" id="exampleInputBrojTelefona" placeholder="Unesite broj telefona" [(ngModel)]="txtBrojTelefona" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group customSpace">
                  <label>Spol</label>
                  <select class="form-select" [(ngModel)]="txtSpol" [ngModelOptions]="{standalone: true}">
                    <option>Muški</option>
                    <option>Ženski</option>
                  </select>
                </div>
                <div class="form-group customSpace" >
                  <label for="exampleInputEmail1">Email adresa</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unesite email adresu" [(ngModel)]="txtEmail" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group customSpace">
                  <label for="exampleInputLozinka">Lozinka</label>
                  <input type="password" class="form-control" id="exampleInputLozinka" aria-describedby="emailHelp" placeholder="Unesite lozinku" [(ngModel)]="txtLozinka" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <button type="submit" class="w-100 btn btn-warning customMarginTop" (click)="sacuvajKorisnika()">Kreiraj nalog</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
