<div class="pleft-box">
  <div class="filteribtn" (click)="prikaziFiltere()">
    <label class="FiltrirajNaslov">Filtriraj</label>
    <label class="plusminus">{{ filteriPrikazani ? '-' : '+' }}</label>
  </div>

  <div *ngIf="filteriPrikazani" class="filteri">
    <div class="filter">
      <div class="filter-naslov-plusminus"
           (click)="prikaziKategorije()"
           (mouseenter)="onKategorijeMouseEnter()"
           (mouseleave)="onKategorijeMouseLeave()"
           [class.hovered]="isKategorijeHovered">
        <div class="FilterNaslovBox">
          <label class="FilterNaslov">Kategorije</label>
        </div>
        <div class="plusminusbox">
          <label class="plusminusfilter">{{ prikazaneKategorije ? '-' : '+' }}</label>
        </div>
      </div>
      <div class="kategorije-box">
        <div class="kategorija" *ngFor="let kategorija of kategorije"
             (click)="odabranaKategorija($event, kategorija)"
             [ngStyle]="{'color': isSelected(kategorija) ? '#ffd200' : 'black'}"
        >
          <label class="kategorija-txt">{{ kategorija.naziv }}</label>
        </div>
      </div>

    </div>

    <div class="filter">
      <div class="filter-naslov-plusminus" (click)="prikaziBrendove()"
           (mouseenter)="onBrendoviMouseEnter()"
           (mouseleave)="onBrendoviMouseLeave()"
           [class.hovered]="isBrendoviHovered">
        <div class="FilterNaslovBox">
          <label class="FilterNaslov">Brendovi</label>
        </div>
        <div class="plusminusbox">
          <label class="plusminusfilter">{{ prikazaniBrendovi ? ' -' : ' +' }}</label>
        </div>
      </div>
      <div class="brendovi-box">
        <div class="brend" *ngFor="let brend of brendovi"
             (click)="odabranBrend($event, brend)"
             [ngStyle]="{'color': isSelectedBrend(brend) ? '#ffd200' : 'black'}">
          <label class="brend-txt">{{brend.naziv}}</label>
        </div>
      </div>
    </div>
  </div>

</div>
