<div class="container-fluid">
  <div class="container-title">
      <h4>IZDVOJENI PROIZVODI</h4>
  </div>
  <div class="productList">
  <div *ngFor="let ip of izdvojeniProizovdi" class="container-products" >
    <div class="card product" style="width: 18rem;">
      <button type="button" class="btn-close customClose" aria-label="Close" (click)="ukloniIsVidljivo = !ukloniIsVidljivo;pripremiProizvod(ip)" *ngIf="isAdmin()"></button>
      <img class="card-img-top" src="{{ip.slika}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">{{ip.naziv}}</h5>
        <p class="card-text" style="text-align: center">{{ip.opis}}</p>
        <div class="product-info">
          <h5>{{ (ip.cijena - (ip.cijena * ip.popust / 100)).toFixed(2) }} BAM</h5>
          <p>-{{ip.popust}}%</p>
        </div>
        <a class="btn btn-primary customButton">DODAJ U KORPU</a>
      </div>
    </div>
  </div>
  </div>
</div>

<app-ukloni-potvrda *ngIf="ukloniIsVidljivo" (otvori)="this.otvaranjePotvrda($event)" [proizvodID]="proizvodID"></app-ukloni-potvrda>
