<div class="container-fluid">
  <div class="container-title">
      <h4>IZDVOJENI PROIZVODI</h4>
  </div>
  <div class="container-products">
    <div class="card product" style="width: 18rem;">
      <img class="card-img-top" src="https://cdn.staticans.com/image/tr:e-sharpen-01,h-1500,w-1500,cm-pad_resize/data/Optimum-Nutrition/13-June-2023/1101759_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center">Card title</h5>
        <p class="card-text"></p>
        <a class="btn btn-primary customButton">DODAJ U KORPU</a>
      </div>
    </div>
  </div>
</div>
