<div class="pmain-box">

  <div *ngFor="let proizvod of proizvodi" class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img alt="slika proizvoda" class=slika-proizvod src="{{proizvod.slike[0].putanja}} "  height="500"
           width="500">
    </div>
    <label class="naziv-proizvoda">{{proizvod.naziv}}</label>
    <label class="opis-proizvoda">{{proizvod.opis}}</label>
    <div class="cijena">
      <label class="cijena-proizvoda">
        {{ (proizvod.cijena - (proizvod.cijena * proizvod.popust / 100)).toFixed(2) }} BAM
      </label>
      <label *ngIf="proizvod.popust !== 0" class="popust-proizvoda">-{{proizvod.popust}}%</label>
    </div>
  </div>



</div>
