<div class="pmain-box">

  <div class="proizvod-box" routerLink="/proizvod/{{2}}">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey.jpg">
    </div>
      <label class="naziv-proizvoda">Whey</label>
      <label class="opis-proizvoda">fin, super</label>
      <div class="cijena">
        <label class="cijena-proizvoda">199.99 BAM</label>
        <label class="popust-proizvoda">-20%</label>
      </div>
    </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/biciklo.jpg">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>

  <div class="proizvod-box">
    <div class="slika-proizvoda-box">
      <img class= slika-proizvod src="./assets/prodavnica-images/whey2.png">
    </div>
    <label class="naziv-proizvoda">Whey</label>
    <label class="opis-proizvoda">fin, super</label>
    <div class="cijena">
      <label class="cijena-proizvoda">199.99 BAM</label>
      <label class="popust-proizvoda">-20%</label>
    </div>
  </div>




</div>
