<div class="main">
  <button class="zapregledSwitch" (click)="zaPregledSwitched()">Narudžbe za pregled</button>
  <button class="prihvaceneSwitch" (click)="prihvaceneSwitched()">Odobrene Narudžbe</button>
  <button class="poslaneSwitch" (click)="poslaneSwitched()">Poslane narudzbe</button>
  <h3>{{this.naslov}}</h3>
  <table *ngIf="!loading; else loadingTemplate" class="narudzbe-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Datum Kreiranja</th>
      <th>Vrijednost</th>
      <th>Popust</th>
      <th>Nacin Placanja</th>
      <th>Nacin Dostave</th>
      <th>Primaoc</th>
      <th>Adresa</th>
      <th>Grad</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Proizvodi</th>
      <th>Upozorenje</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of narudzbe">
      <td (click)="prikaziNarudzbu(n)">{{n.id}}</td>
      <td>{{ n.datumKreiranja | date: 'dd.MM.yyyy HH:mm' }}</td>
      <td>{{n.vrijednost}}</td>
      <td>{{n.popust}}</td>
      <td>{{n.nacinPlacanja}}</td>
      <td>{{n.nacinDostave}}</td>
      <td>{{n.imePrimaoca + ' ' + n.prezimePrimaoca}}</td>
      <td>{{n.adresa}}</td>
      <td>{{n.grad.naziv}} ({{n.grad.postanskiBroj}})</td>
      <td>{{n.telefon}}</td>
      <td>{{n.email}}</td>
      <td>
        <ul class="proizvodi-ul">
          <li *ngFor="let p of n.proizvodi" class="proizvodi-li">
            <strong>{{p.proizvod.naziv}}</strong><br />
            Cijena: {{p.proizvod.cijena}}<br />
            Popust: {{p.proizvod.popust}}<br />
            Brend: {{p.proizvod.brend.nazivBrenda}}<br />
            Kategorija: {{p.proizvod.kategorija.nazivKategorije}}<br />
            Narucena kolicina: {{p.kolicina}}<br />
            Kolicina na Skladištu: {{p.proizvod.kolicinaNaSkladistu}}
          </li>
        </ul>
      </td>
      <td>
        <strong class="upozorenje-lbl">{{n.Upozorenje}}</strong>
      </td><td>

      <div *ngIf="naslov === 'Narudžbe za pregled:'; else odobreneAkcije">
        <button class="cekiraj-button" (click)="provjeriNarudzbu(n)">Provjeri</button>
        <button class="odobri-button" (click)="odobriNarudzbu(n.id, n.email)">Odobri</button>
        <button class="odbij-button" (click)="odbijNarudzbu(n.id, n.email)">Odbij</button>
      </div>
      <ng-template #odobreneAkcije>
        <ng-container *ngIf="naslov === 'Poslane narudzbe:'">
          <button class="prijavi-button">Prijavi</button>
        </ng-container>
        <ng-container *ngIf="naslov !== 'Poslane narudzbe:'">
          <button class="odbij-button" (click)="odbijNarudzbu(n.id, n.email)">Odbij</button>
          <button class="posalji-button" (click)="posaljiNarudzbu(n, n.email)">Pošalji</button>
        </ng-container>
      </ng-template>
    </td>
    </tr>
    </tbody>
  </table>
  <ng-template #loadingTemplate>
  <div class="loading-container">
    <p class="loading-text">Molimo pričekajte, narudđbe se učitavaju...</p>
  </div>
</ng-template>
</div>
