<div class="main">
  <div class="progress-indicator">
    <div class="indikatori-box">
    <button (click)="trenutnaStranica=1" class="stage1">Sadržaj</button>
      <h3>→</h3>
    <button (click)="trenutnaStranica=2" class="stage2">Dostava</button>
      <h3>→</h3>
    <button class="stage3" (click)="trenutnaStranica=3">Adresa</button>
      <h3>→</h3>
    <button class="stage4" (click)="prebaciNaStranicu4()">Plačanje</button>
    </div>
  </div>
  <div *ngIf= "trenutnaStranica==1" class="tabela-proizvoda">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Proizvod</th>
        <th>Količina</th>
        <th>Cijena</th>
        <th>Popust</th>
        <th>Ukupno</th>
        <th>Akcije</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let proizvod of korpa.proizvodi">
        <td class="slika">
          <img [src]="proizvod.slikaProizvoda" alt="{{proizvod.naziv}}" class="slika-proizvoda">
        </td>
        <td class="o-proizvodu">
          <h5 class="naziv">{{proizvod.naziv}}</h5>
        </td>
        <td class="kolicina">{{proizvod.kolicina}}</td>
        <td class="cijena">{{proizvod.cijena}} BAM</td>
        <td class="popust">{{proizvod.popust}}%</td>
        <td class="ukupno-proizvod">{{(proizvod.cijena - (proizvod.cijena * (proizvod.popust / 100))) * proizvod.kolicina}} BAM</td>
        <td class="ponisti">
          <button (click)="izbaciIzKorpe(proizvod.proizvodID)">x</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="trenutnaStranica==2" class="Dostava">
    <div class="dostava-left">
      <h5>Način dostave</h5>
      <div class="nacini-dostave">
        <div class="regularna-isporuka" (click)="handleCheckbox('regularna')">
          <h6>Regularna isporuka</h6>
          <p>Kuriri EuroExpress-a će vam donijeti porudžbinu na željenu adresu radnim danima od 8-16h. Besplatno za porudžbine iznad 99 KM. 3-5 RADNIH DANA</p>
          <input [(ngModel)]="regularnaIsporukaChecked" type="checkbox" class="cb-regularna-isporuka">
        </div>
        <div class="click-n-collect" (click)="handleCheckbox('clickNCollect')">
          <h6>Click and Collect</h6>
          <p class="clickncollect-text">Preuzimanje u teretani. Kada porudžbina bude spremna za preuzimanje dobićete email obavještenje sa detaljnim instrukcijama za preuzimanje. Rok za preuzimanje je 5 dana nakon što dobijete obavještenje.</p>
          <input [(ngModel)]="clickNCollectChecked" type="checkbox" class="cb-click-n-collect">
        </div>
      </div>
    </div>

    <div class="dostava-right">
      <h5>Način plaćanja</h5>
      <div class="nacini-placanja">
        <div class="placanje-karticom" (click)="handleCheckbox('karticno')">
          <h6>Kartično plaćanje</h6>
          <p>Platite online sigurno i lako koristeći Visa, MasterCard, Maestro, Visa Premium, American Express, Discover i Diners platnu karticu koju je banka izdavalac odobrila za internet plaćanje.</p>
          <input [(ngModel)]="karticnoPlacanjeChecked" type="checkbox" class="cb-karticno-placanje">
        </div>
        <div class="placanje-preuzimanje" (click)="handleCheckbox('preuzimanje')">
          <h6>Plaćanje po preuzimanju</h6>
          <p>Gotovnisko plaćanje pri preuzimanju narudžbe. Platite kuriru prilikom isporuke ili radniku prilikom preuzimanja u poslovnici. Ukoliko ste u mogućnosti pripremite tačnu sumu.</p>
          <input [(ngModel)]="placanjePreuzimanjeChecked" type="checkbox" class="cb-placanje-preuzimanje">
        </div>
      </div>
    </div>
    </div>
  <div *ngIf="trenutnaStranica==3" class="adresa">
    <form action="/submit-address" method="POST" class="address-form">
      <div class="form-row">
        <div class="form-group">
          <label for="ime">Ime:</label>
          <input type="text" id="ime" name="ime" required [(ngModel)]="imePrimaoca">
        </div>
        <div class="form-group">
          <label for="prezime">Prezime:</label>
          <input type="text" id="prezime" name="prezime" required [(ngModel)]="prezimePrimaoca">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="email">
        </div>
        <div class="form-group">
          <label for="telefon">Telefon:</label>
          <input type="tel" id="telefon" name="telefon" required [(ngModel)]="telefon">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="grad">Grad:</label>
          <select id="grad" name="grad" required [(ngModel)]="gradID">
            <option *ngFor="let g of gradovi" [value]="g.id">{{g.naziv}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="adresa">Adresa:</label>
          <input type="text" id="adresa" name="adresa" required [(ngModel)]="adresa">
        </div>
      </div>

      <div class="form-group form-checkbox">
        <input type="checkbox" id="popuniProfil" name="popuniProfil">
        <label for="popuniProfil">Popuni podacima sa profila</label>
      </div>
    </form>
  </div>


  <div *ngIf="trenutnaStranica==4" class="placanje">
    <div class="checkout-container">
      <div class="order-details">
        <div class="order-row">
          <div class="label">Način plaćanja</div>
          <div class="value">{{this.nacinPlacanja}}</div>
        </div>

        <div class="order-row">
          <div class="label">Način dostave</div>
          <div class="value">{{this.nacinDostave}}</div>
        </div>
        <div class="order-row">
          <div class="label">Email</div>
          <div class="value">{{this.email}}</div>
        </div>
        <div class="order-row">
          <div class="label">Adresa dostave</div>
          <div class="value">{{this.adresa}}</div>
        </div>
      </div>
      <div class="korpa-summary">
        <h4>Pregled korpe</h4>
        <div class="korpa-details">
          <p><strong>Ukupno:</strong>{{this.korpa.vrijednost}}</p>
          <p><strong>Ušteda:</strong>0%</p>
          <p><strong>Troškovi dostave:</strong>{{this.troskoviDostave}},00 BAM</p>
          <hr>
          <p><strong>Ukupno za plaćanje sa PDV-om:</strong></p>
          <p class="ukupna-cijena-label">{{this.korpa.vrijednost + this.troskoviDostave}} BAM </p>
        </div>
        <div class="korpa-checkbox">
          <input type="checkbox" id="uslovi" name="uslovi" [(ngModel)]="Uslovi">
          <label for="uslovi">Klikom na dugme, slažeš se sa <a href="#">uslovima prodaje</a>, <a href="#">uslovima korišćenja</a> i <a href="#">politikom privatnosti</a>.</label>
        </div>
        <button type="button" class="btn-potvrdi" (click)="kreirajNarudzbu()">Potvrdi</button>
      </div>
    </div>

  </div>
  <div class="ukupno">
    <div *ngIf="trenutnaStranica<4" class="ukupno-cijena">
      <label class="cijena-korpe">Ukupno: {{this.korpa.vrijednost}} BAM</label>
      <label *ngIf="regularnaIsporukaChecked" class="dodatno-dostava">+{{this.troskoviDostave}},00 BAM dostava</label>
    </div>
    <div class="navigacija-btns">
      <button class="btn-prethodni" *ngIf="trenutnaStranica>1" (click)="prethodnikorak()">Prethodni korak</button>
      <button *ngIf="trenutnaStranica<4" class="btn-sljedeci" (click)="sljedecikorak()">Sljedeći korak</button>
    </div>
  </div>
</div>
