:host {
  height: 80%;
  position: relative;
  display: block;
  padding-top: 10%;
}
.main{
display:block;
  width: 100%;
  height: 100%;
}
.tabela-proizvoda{
  min-height: 50%;
  margin-top: 5%;
}
table{
  top:15%;
  position: relative;
  left: 10%;
  width: 80%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: #c5c5c5 1px solid;
}
.progress-indicator{
  position: relative;
  top: 5%;
  display: flex;
  background-color: #ffffff;
  height:50%;
  text-align: center;
  justify-content: center;
}
.indikatori-box{
  display: flex;
  height: 100%;
  width: 40%;
  text-align: center;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
.stage1, .stage2, .stage3, .stage4{
  background-color: rgba(33, 37, 41, 0.31);
  border:none;
  color: white;
  height: 100%;
  border-radius: 50%;
  width: 10%;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.indikatori-box button:hover{
  color: #ffffff;
  background-color: rgb(33, 37, 41);
}
.indikatori-box h3{
  color: rgba(33, 37, 41, 0.22);
  font-size: 34px;
}
.ukupno{
  display: block;
  position:relative;
  text-align: right;
  background-color: #ffffff;
  height: 10%;
}
.ukupno-cijena{
  display: flex;
  flex-direction: column;
}
.dodatno-dostava{
  font-size: 13px;
  position: relative;
  right: 8%;
}
.cijena-korpe{
  font-size: 24px;
  right: 8%;
  position: relative;
  top: 25%;

}
.ukupno button{
  font-size: 15px;
  position: relative;
  width: 10%;
  height: 35px;
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  top: 25%;
}
.ukupno button:hover{
  background-color: rgb(238, 192, 2);
  box-shadow: black 0 0 1.5px;
}
.ukupno button:active{
  background-color: rgb(33, 37, 41);
  color:white;
}
.slika{
  width: 15%;
  height: 15%;
}
.slika-proizvoda{
  width: 100%;
  height: 100%;
  overflow: hidden;
.ukupno-proizvod{
}
}
.Dostava{
  position: relative;
  top: 10%;
  display: flex;
  min-height: 70%;
  margin-top: 5%;
  width:100%;
}
.dostava-left{
  position: relative;
  display: inline-block;
  width: 40%;margin-left: 7.5%;
  height: 100%;
  margin-right: 5%;
}
.dostava-right{

  position: relative;
  display: inline-block;
  width: 40%;
  height: 100%;
}
.nacini-dostave{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;

}
.regularna-isporuka{
  display: block;
  width:100%;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
}
.click-n-collect{
  display: block;
  margin-top: 5%;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
}
.cb-click-n-collect{
  width: 20px;
  font-size: 20px;
}
.click-n-collect:hover{
  background-color: #eaeaea;
  cursor: pointer;
}

.regularna-isporuka:hover{
  background-color: #eaeaea;
  cursor: pointer;
}
.nacini-placanja{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}
.placanje-karticom{
  display: block;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
}
.btn-sljedeci{
  position: relative;
  right: 8%;
}
.btn-prethodni{
  position: relative;
  right:72%;
}
.placanje-preuzimanje{
  display: block;
  width: 100%;
  margin-top: 5%;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
}
.placanje-karticom:hover{
  background-color: #eaeaea;
  cursor: pointer;
}
.placanje-preuzimanje:hover{
  background-color: #eaeaea;
  cursor: pointer;
}
.Dostava h5{
  margin-bottom: 5%;
}
.ponisti button{
  border: none;
  font-size: 20px;
  color: red;
}
.adresa{
  min-height: 50%;
  margin-top: 5%;
  text-align: center;
}
.placanje{
  min-height: 50%;
  margin-top: 5%;
  text-align: center;
}
