<div class="video-main">
  <div class="title">
    <h2>VIDEO</h2>
  </div>
  <div class="youtube">
    <div class="video-yt">
      <iframe src="https://www.youtube.com/embed/904l0PCc_8I?si=QtkGLXBJ_d-qOQ3-" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="yt-title">
        <h6>PLAN ZA NAPREDNE</h6>
      </div>
      <div class="zuta-linija"></div>
    </div>
    <div class="video-yt">
      <iframe src="https://www.youtube.com/embed/UJ07qC70SdU?si=Uh9_q9FHfxuUN4zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="yt-title">
        <h6>PLAN ZA POČETNIKE</h6>
      </div>
      <div class="zuta-linija"></div>
    </div>
    <div class="video-yt">
      <iframe src="https://www.youtube.com/embed/u5kontm7ix8?si=lOUKU1P3wcHYdAxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="yt-title">
        <h6>VJEŽBE ZA TRBUH</h6>
      </div>
      <div class="zuta-linija"></div>
    </div>
    <div class="video-yt">
      <iframe src="https://www.youtube.com/embed/600ih0zqhfw?si=JStrFy3E55vmgC7F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="yt-title">
        <h6>CARDIO VJEŽBE</h6>
      </div>
      <div class="zuta-linija"></div>
    </div>
  </div>
</div>
