.prodavnica-main-left {
  padding-left: 6%;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  min-height: 100%;
  padding-top: 0px;
}

.Sve{
  position: relative;
  }
:host{
  position: relative;
  display: block;
  top: 10%;
  height: 90%;
}
.left{
  width: 25%;
  position: fixed;
  top: 22%;
}
.right{
  min-height: 70%;
  width: 100%;
  padding-left: 25%;
}
.top
{
  height: 10%;
  top:10%;
  width: 100%;
}
.footer{
  position:sticky;
  width: 100%;
  height: 40%;
  background-color: #ffd200;
}
