<div class="main">
      <div class="main-title">
        <h3>Lista korisnika</h3>
      </div>
  <div class="main-users">
    <table class="customTable">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Korisničko ime</th>
        <th scope="col">Admin</th>
        <th scope="col">Korisnik</th>
        <th scope="col">Radnik</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let lk of listaKorisnika">
        <th scope="row">{{lk.id}}</th>
        <td>{{lk.korisnickoIme}}</td>
        <td>{{lk.isAdmin}}</td>
        <td>{{lk.isKorisnik}}</td>
        <td>{{lk.isRadnik}}</td>
        <td> <button *ngIf="!lk.isAdmin" class="customDugme btn btn-warning" (click)="odaberi(lk)">Obriši</button>
          <button *ngIf="!lk.isAdmin" class="customDugme btn btn-warning" (click)="pripremiKorisnika(lk); isUrediVidljivo= !isUrediVidljivo">Uredi</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-uredi-korisnik *ngIf="isUrediVidljivo" (otvori)="this.otvaranjeEdit($event)"
                    [ID]="this.ID"
                    [KorisnickoIme] = "this.KorisnickoIme"
                    [IsAdmin] = "this.IsAdmin"
                    [IsKorisnik]="this.IsKorisnik"
                    [IsRadnik]="this.IsRadnik"
                    [IsClan]="this.IsClan"></app-uredi-korisnik>

