<div class="d-flex justify-content-center">
  <div class="p-2 customStyle" (click)="IsDodajVidljivo = !IsDodajVidljivo">Dodaj</div>
  <div class="p-2 customStyle" (click)="IsUrediVidljivo = !IsUrediVidljivo">Uredi</div>
  <div class="p-2 customStyle" (click)="IsObrisiVidljivo =!IsObrisiVidljivo">Ukloni</div>
</div>

<app-obavijest-dodaj *ngIf="IsDodajVidljivo"
(otvori)="this.otvaranjeAdd($event)"></app-obavijest-dodaj>
<app-obavijesti-uredi *ngIf="IsUrediVidljivo"
(otvori)="this.otvaranjeUredi($event)"></app-obavijesti-uredi>
<app-obavijesti-ukloni *ngIf="IsObrisiVidljivo"
(otvori)="this.otvaranjeUkloni($event)"></app-obavijesti-ukloni>


