<div class="navbar">
  <ul class="nav justify-content-end bg-dark customClass w-100 p-2">
    <li class="nav-item">
      <a class="nav-link text-white">Korpa</a>
    </li>
    <div class="vr text-white"></div>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/prijavi-se">Prijavi se</a>
    </li>
  </ul>
<ul class="nav nav-underline justify-content-center bg-dark h-25 w-100 p-3">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/obavijesti">Početna</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white">Članstvo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/prodavnica">Prodavnica</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white">Cjenovnik</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/kontakt">Kontakt</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
