<div class="modal fade show" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Obriši proizvod</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="zatvori()"></button>
      </div>
      <div class="modal-body">
        <h4>Molimo Vas potvrdite brisanje proizvoda!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="zatvori()">Odustani</button>
        <button type="button" class="btn btn-danger" (click)="obrisiProizvod()">Obriši</button>
      </div>
    </div>
  </div>
</div>
